* {
    line-height: $default-lh;
ul {
    list-style-type: none;
}
}

p {
     font-size: $medium-font;
     font-family: $text;

     @include media($mobile) { //used at device breakpoint
    font-size: $medium-font * 2;
  }

}

h1 {
    font-size: $x-large-font;
    margin-bottom: 5px;
    font-family: $header;
    color: $green;

    @include media($mobile) { //used at device breakpoint
    font-size: $x-large-font * 2;
  }
}

h2 {
    font-size: $large-font;
    font-weight: 100;
    font-family: $header;
    color: $green;
    margin-top: 10px;
    margin-bottom: 0;

    @include media($mobile) { //used at device breakpoint
    font-size: $large-font * 2;
  }

    &:hover {
        color: $orange;
        text-decoration: none;
    }
}

h3 {
    font-size:  $medium-large;
    font-family: $header;
    color: $green;

    &:hover {
        color: $orange;
        text-decoration: none;
    }

}

a {
    text-decoration: none;
    font-weight: normal;

    &:hover {
        color: $orange;
        text-decoration: none;
    }
}
