
footer {
  background-color: $slate-grey;
  color: white;
  padding: 10px;

  @include media($devices) { //used at device breakpoint
    padding: 4%;

  ul {
    @include media ($mobile) { //used at device breakpoint
      font-size: em(40);
    }
  }
}




  ul {
    padding-left: 0;
  }

  .footer-container {
    @include outer-container;
    padding-bottom: 50px;


    .info,
    .social {
      @include span-columns(6);

    @include media($mobile) { //used at device breakpoint
      @include span-columns(12);
      text-align: center;
  }


    }
  }


  .social {
    text-align: right;
  }

  .ss-icon {
      font-family: $social;
      display: inline-block;
      height: 58px;
      width: 60px;
      line-height: 60px;
      font-size: 2em;

      @include media($mobile) {
      width: 15%;
    }
  }

  a {
    color: white;
  }

}





