//define font sizes
$x-large-font: em(44); /* headers only */
$large-font: em(28); /* headers only */
$medium-large-font: em(22); /* transitional header only */
$medium-font: em(18);
$small-font: em(14);


// line heights
$default-lh: 1.6em;


// @include media ($mobile) { //used at device breakpoint
//     $x-large-font: em(44*2); /* headers only */
//     $large-font: em(28*2); headers only
//     $medium-large-font: em(22*2); /* transitional header only */
//     $medium-font: em(18*2);
//     $small-font: em(14*2);
// }

